@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

html {
    scroll-behavior: smooth;
    scrollbar-color: #888 #343a40;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #343a40;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}


/* Header */

.links-menu a {
    color: lightgray;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.links-menu a:hover {
    color: #27c1c1;
}

.logo-menu {
    width: 110px;
}

.fondo-negro {
    background-color: #1F2024;
    /* border-bottom: 2px solid #ffc107; */
}

.icono-menu-color {
    color: #27c1c1;
    font-size: 22px;
}

@media (max-width: 296px) {
    .icono-menu-color {
        font-size: 19px;
    }
}

@media (max-width: 288px) {
    .icono-menu-color {
        font-size: 17px;
    }
}

@media (max-width: 282px) {
    .icono-menu-color {
        font-size: 15px;
    }
}

/* Main */

main {
    background-color: #1F2024;
    color: white;
    font-family: 'Lato', sans-serif;
}

.icono-whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    color: #25D366;
}

.titulo-grande {
    font-size: 60px;
    line-height: 1.2;
}

@media (max-width: 415px) {
    .titulo-grande {
        font-size: 30px;
        line-height: 1.2;
    }
}

.card-header {
    position: relative;
}

.card-header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #ffc107;
}

.fondo-amarillo {
    background-color: #ffc107;
}

.custom-color {
    color: #27c1c1;
}

.custom-bold {
    font-weight: bold;
}

.custom-number {
    animation: count-up 2s ease-in-out;
}

@keyframes count-up {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.separator-line {
    width: 100%;
    height: 1px;
    background-color: #ffc107;
}

.separator-text {
    margin: 0 20px;
    color: #ffc107;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}




/* Footer */

footer {
    background-color: #1F2024;
    font-family: 'Lato', sans-serif;
}

footer a {
    text-decoration: none;
    color: white;
}

footer i {
    color: #ffc107;
}